.block_ {
    color: #0078D7;
    display: block;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 2em;
    letter-spacing: 0.75pt;
    line-height: 1.2;
    margin: 0 0 9pt;
    padding: 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    line-height: 48pt;
    margin: 30pt 0 24pt 54pt;
    padding: 0
    }
.block_2 {
    color: black;
    display: block;
    font-family: serif;
    line-height: 36pt;
    margin: 0 0 108pt 54pt;
    padding: 0
    }
.block_3 {
    color: black;
    display: block;
    font-family: serif;
    line-height: 36pt;
    margin: 0 0 108pt;
    padding: 0
    }
.block_4 {
    display: block;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_5 {
    display: block;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_6 {
    color: black;
    display: block;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_7 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_8 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    margin: 0 0 6pt;
    padding: 0
    }
.block_9 {
    color: #0078D7;
    display: block;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 2em;
    letter-spacing: -0.5pt;
    line-height: 1.08;
    margin: 0 0 8pt;
    padding: 0
    }
.block_10 {
    color: black;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_11 {
    color: black;
    display: block;
    line-height: 12pt;
    margin: 0 14.2pt 5pt 20.2pt;
    padding: 0
    }
.block_12 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin: 0 0 5pt 33pt;
    padding: 0
    }
.block_13 {
    color: black;
    display: block;
    line-height: 12pt;
    margin: 0 0 5pt 10.2pt;
    padding: 0
    }
.block_14 {
    display: block;
    margin: 0 0 9pt;
    padding: 0
    }
.block_15 {
    color: black;
    display: block;
    font-family: serif;
    margin: 0 0 9pt;
    padding: 0
    }
.block_16 {
    color: #0078D7;
    display: block;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 2em;
    line-height: 45pt;
    margin: 40pt 0 30pt;
    padding: 0
    }
.block_17 {
    color: black;
    display: block;
    margin: 0 0 9pt;
    padding: 0
    }
.block_18 {
    color: #0078D7;
    display: block;
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_19 {
    color: #0078D7;
    display: block;
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_20 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 24pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_21 {
    color: black;
    display: block;
    font-family: serif;
    margin: 0 0 9pt;
    padding: 0
    }
.block_22 {
    color: #0078D7;
    display: block;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 2em;
    line-height: 45pt;
    margin: 40pt 0 30pt;
    padding: 0
    }
.block_23 {
    color: black;
    display: block;
    font-family: "Segoe UI Semilight", sans-serif;
    font-size: 0.75em;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_24 {
    color: #0078D7;
    display: block;
    font-family: "Segoe UI Semilight", sans-serif;
    font-size: 1.83333em;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 18pt 0 6pt;
    padding: 0
    }
.block_25 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 24pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_26 {
    display: block;
    font-style: italic;
    margin: 0 0 9pt;
    padding: 0
    }
.block_27 {
    display: block;
    font-family: serif;
    margin: 0 0 9pt;
    padding: 0
    }
.block_28 {
    display: block;
    font-style: italic;
    margin: 0 0 9pt 36pt;
    padding: 0
    }
.block_29 {
    color: black;
    display: block;
    margin: 0 0 9pt 36pt;
    padding: 0
    }
.block_30 {
    display: table-row;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_31 {
    display: table-row;
    font-family: serif;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_32 {
    display: list-item;
    font-family: serif;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 24pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_33 {
    color: #2E74B5;
    display: block;
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 12pt 0 4pt;
    padding: 0
    }
.block_34 {
    display: block;
    font-family: "Consolas", monospace;
    font-size: 1em;
    margin: 0 0 9pt;
    padding: 0
    }
.block_35 {
    color: black;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-indent: -50.4pt;
    margin: 12pt 0 6pt 50.4pt;
    padding: 0
    }
.block_36 {
    display: block;
    page-break-after: avoid;
    margin: 0 0 9pt;
    padding: 0
    }
.block_37 {
    display: block;
    margin: 0 0 9pt 36pt;
    padding: 0
    }
.block_38 {
    display: block;
    font-weight: bold;
    margin: 0 0 9pt;
    padding: 0
    }
.block_39 {
    color: black;
    display: block;
    text-align: justify;
    margin: 0 0 9pt;
    padding: 0
    }
.block_40 {
    color: black;
    display: table-row;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_41 {
    color: black;
    display: list-item;
    font-family: serif;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 24pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_42 {
    color: black;
    display: table-row;
    font-family: serif;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.calibre {
    color: #414141;
    display: block;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    float: left;
    height: 329pt;
    line-height: 1.2;
    width: 497pt
    }
.calibre3 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre4 {
    text-decoration: none
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    display: block;
    line-height: 1.2
    }
.calibre7 {
    height: 212pt;
    width: 281pt
    }
.calibre8 {
    font-style: italic;
    line-height: 1.2
    }
.calibre9 {
    height: 218pt;
    width: 451pt
    }
.calibre10 {
    display: block;
    float: left;
    height: 347pt;
    width: 466pt
    }
.calibre11 {
    height: 236pt;
    width: 413pt
    }
.calibre12 {
    display: block;
    float: left;
    height: 467pt;
    width: 451pt
    }
.calibre13 {
    height: 201pt;
    width: 451pt
    }
.calibre14 {
    display: block;
    float: left;
    height: 184pt;
    width: 451pt
    }
.calibre15 {
    font-style: italic
    }
.calibre16 {
    display: block;
    float: left;
    height: 86.5pt;
    width: 451pt
    }
.calibre17 {
    height: 195pt;
    width: 248pt
    }
.calibre18 {
    height: 211pt;
    width: 451pt
    }
.calibre19 {
    height: 204pt;
    width: 295pt
    }
.calibre20 {
    height: 207pt;
    width: 258pt
    }
.calibre21 {
    height: 241pt;
    width: 451pt
    }
.calibre22 {
    height: 239pt;
    width: 451pt
    }
.calibre23 {
    height: 256pt;
    width: 451pt
    }
.calibre24 {
    height: 170pt;
    width: 274pt
    }
.calibre25 {
    height: 252pt;
    width: 451pt
    }
.calibre26 {
    height: 253pt;
    width: 451pt
    }
.calibre27 {
    height: 251pt;
    width: 451pt
    }
.calibre28 {
    height: 177pt;
    width: 302pt
    }
.calibre29 {
    height: 262pt;
    width: 451pt
    }
.calibre30 {
    height: 259pt;
    width: 419pt
    }
.calibre31 {
    height: 168pt;
    width: 451pt
    }
.calibre32 {
    height: 232pt;
    width: 451pt
    }
.calibre33 {
    height: 260pt;
    width: 451pt
    }
.calibre34 {
    height: 214pt;
    width: 421pt
    }
.calibre35 {
    height: 243pt;
    width: 451pt
    }
.calibre36 {
    height: 226pt;
    width: 451pt
    }
.calibre37 {
    height: 176pt;
    width: 403pt
    }
.calibre38 {
    height: 259pt;
    width: 451pt
    }
.calibre39 {
    display: block;
    float: left;
    height: 507pt;
    width: 451pt
    }
.calibre40 {
    height: 294pt;
    width: 360pt
    }
.calibre41 {
    height: 245pt;
    width: 451pt
    }
.calibre42 {
    height: 159pt;
    width: 406pt
    }
.calibre43 {
    height: 183pt;
    width: 451pt
    }
.calibre44 {
    height: 199pt;
    width: 159pt
    }
.calibre45 {
    height: 161pt;
    width: 288pt
    }
.calibre46 {
    height: 165pt;
    width: 270pt
    }
.calibre47 {
    height: 123pt;
    width: 439pt
    }
.calibre48 {
    height: 190pt;
    width: 441pt
    }
.calibre49 {
    height: 125pt;
    width: 451pt
    }
.calibre50 {
    height: 194pt;
    width: 396pt
    }
.calibre51 {
    display: block;
    float: left;
    height: 80.5pt;
    width: 451pt
    }
.calibre52 {
    height: 62.1pt;
    width: 419pt
    }
.calibre53 {
    display: block;
    float: left;
    height: 77.5pt;
    line-height: 1.2;
    width: 451pt
    }
.calibre54 {
    height: 317pt;
    width: 451pt
    }
.calibre55 {
    display: block;
    float: left;
    height: 69pt;
    width: 451pt
    }
.calibre56 {
    display: block;
    float: left;
    height: 114pt;
    width: 451pt
    }
.calibre57 {
    display: block;
    float: left;
    height: 77.5pt;
    width: 451pt
    }
.calibre58 {
    display: block;
    float: left;
    height: 310pt;
    width: 475pt
    }
.calibre59 {
    display: block;
    float: left;
    height: 19.1pt;
    width: 451pt
    }
.calibre60 {
    display: table;
    margin: 0;
    padding: 0 0 0 24pt
    }
.calibre61 {
    display: block;
    float: left;
    height: 19.9pt;
    width: 451pt
    }
.calibre62 {
    display: table;
    margin: 0;
    padding: 0 0 0 60pt
    }
.calibre63 {
    display: block;
    float: left;
    height: 161pt;
    width: 451pt
    }
.calibre64 {
    display: block;
    float: left;
    height: 76pt;
    width: 451pt
    }
.calibre65 {
    height: 65.8pt;
    width: 451pt
    }
.calibre66 {
    height: 37pt;
    width: 451pt
    }
.calibre67 {
    display: block;
    float: left;
    height: 71.5pt;
    width: 433pt
    }
.calibre68 {
    display: block;
    float: left;
    height: 437pt;
    width: 451pt
    }
.calibre69 {
    height: 248pt;
    width: 451pt
    }
.calibre70 {
    height: 76.5pt;
    width: 261pt
    }
.calibre71 {
    height: 21.7pt;
    width: 451pt
    }
.calibre72 {
    height: 172pt;
    width: 170pt
    }
.calibre73 {
    height: 67.5pt;
    width: 369pt
    }
.calibre74 {
    height: 62.5pt;
    width: 451pt
    }
.calibre75 {
    display: block;
    float: left;
    height: 79.5pt;
    width: 451pt
    }
.calibre76 {
    height: 96.8pt;
    width: 304pt
    }
.calibre77 {
    height: 177pt;
    width: 451pt
    }
.calibre78 {
    height: 223pt;
    width: 393pt
    }
.calibre79 {
    display: block;
    float: left;
    height: 48.7pt;
    width: 451pt
    }
.calibre80 {
    height: 236pt;
    width: 451pt
    }
.calibre81 {
    height: 291pt;
    width: 451pt
    }
.calibre82 {
    height: 165pt;
    width: 451pt
    }
.calibre83 {
    height: 194pt;
    width: 341pt
    }
.calibre84 {
    height: 279pt;
    width: 415pt
    }
.calibre85 {
    height: 236pt;
    width: 346pt
    }
.calibre86 {
    display: block;
    float: left;
    height: 222pt;
    width: 451pt
    }
.calibre87 {
    display: block;
    float: left;
    height: 121pt;
    width: 451pt
    }
.calibre88 {
    display: block;
    float: left;
    height: 475pt;
    width: 451pt
    }
.calibre89 {
    display: block;
    float: left;
    height: 51pt;
    width: 451pt
    }
.calibre90 {
    display: block;
    float: left;
    height: 303pt;
    width: 451pt
    }
.calibre91 {
    display: block;
    float: left;
    height: 141pt;
    width: 451pt
    }
.calibre92 {
    display: block;
    float: left;
    height: 112pt;
    width: 451pt
    }
.calibre93 {
    display: block;
    float: left;
    height: 48.6pt;
    width: 451pt
    }
.calibre94 {
    height: 406pt;
    width: 451pt
    }
.calibre95 {
    display: block;
    float: left;
    height: 39pt;
    width: 451pt
    }
.calibre96 {
    display: block;
    float: left;
    height: 407pt;
    width: 451pt
    }
.calibre97 {
    height: 344pt;
    width: 415pt
    }
.calibre98 {
    height: 216pt;
    width: 416pt
    }
.calibre99 {
    display: block;
    float: left;
    height: 628pt;
    width: 451pt
    }
.calibre100 {
    display: block;
    float: left;
    height: 191pt;
    width: 451pt
    }
.calibre101 {
    display: block;
    float: left;
    height: 150pt;
    width: 451pt
    }
.calibre102 {
    display: block;
    float: left;
    height: 39.1pt;
    width: 451pt
    }
.calibre103 {
    height: 59.9pt;
    width: 205pt
    }
.calibre104 {
    height: 181pt;
    width: 451pt
    }
.calibre105 {
    display: block;
    float: left;
    height: 554pt;
    width: 430pt
    }
.calibre106 {
    display: block;
    float: left;
    height: 474pt;
    width: 430pt
    }
.calibre107 {
    display: block;
    float: left;
    height: 619pt;
    width: 451pt
    }
.calibre108 {
    display: block;
    float: left;
    height: 60pt;
    width: 451pt
    }
.calibre109 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre110 {
    display: block;
    float: left;
    height: 81.5pt;
    width: 451pt
    }
.calibre111 {
    display: block;
    float: left;
    height: 79.9pt;
    width: 451pt
    }
.calibre112 {
    display: block;
    float: left;
    height: 28.7pt;
    width: 451pt
    }
.calibre113 {
    display: block;
    float: left;
    height: 151pt;
    width: 451pt
    }
.calibre114 {
    display: block;
    float: left;
    height: 503pt;
    width: 476pt
    }
.calibre115 {
    display: block;
    float: left;
    height: 202pt;
    width: 451pt
    }
.calibre116 {
    display: block;
    float: left;
    height: 17.9pt;
    width: 451pt
    }
.calibre117 {
    display: block;
    float: left;
    height: 71.5pt;
    width: 451pt
    }
.calibre118 {
    display: block;
    float: left;
    height: 60.3pt;
    width: 451pt
    }
.calibre119 {
    height: 230pt;
    width: 451pt
    }
.calibre120 {
    height: 182pt;
    width: 451pt
    }
.calibre121 {
    height: 266pt;
    width: 333pt
    }
.calibre122 {
    display: block;
    float: left;
    height: 193pt;
    width: 451pt
    }
.calibre123 {
    display: block;
    float: left;
    height: 50.6pt;
    width: 451pt
    }
.calibre124 {
    display: block;
    float: left;
    height: 243pt;
    width: 451pt
    }
.calibre125 {
    display: block;
    float: left;
    height: 314pt;
    width: 451pt
    }
.calibre126 {
    display: block;
    float: left;
    height: 80.6pt;
    width: 451pt
    }
.calibre127 {
    display: block;
    float: left;
    height: 181pt;
    width: 451pt
    }
.calibre128 {
    display: block;
    float: left;
    height: 253pt;
    width: 451pt
    }
.calibre129 {
    height: 222pt;
    width: 451pt
    }
.calibre130 {
    height: 225pt;
    width: 451pt
    }
.calibre131 {
    display: block;
    float: left;
    height: 522pt;
    width: 415pt
    }
.calibre132 {
    display: block;
    float: left;
    height: 455pt;
    width: 451pt
    }
.calibre133 {
    height: 316pt;
    width: 341pt
    }
.calibre134 {
    display: block;
    float: left;
    height: 233pt;
    width: 451pt
    }
.calibre135 {
    display: block;
    float: left;
    height: 252pt;
    width: 451pt
    }
.calibre136 {
    height: 324pt;
    width: 321pt
    }
.calibre137 {
    display: block;
    float: left;
    height: 122pt;
    width: 451pt
    }
.calibre138 {
    display: block;
    float: left;
    height: 200pt;
    width: 451pt
    }
.calibre139 {
    height: 220pt;
    width: 451pt
    }
.calibre140 {
    display: block;
    float: left;
    height: 110pt;
    width: 451pt
    }
.calibre141 {
    display: block;
    float: left;
    height: 568pt;
    width: 451pt
    }
.calibre142 {
    display: block;
    float: left;
    height: 428pt;
    width: 451pt
    }
.calibre143 {
    display: block;
    float: left;
    height: 39.8pt;
    width: 451pt
    }
.calibre144 {
    height: 109pt;
    width: 121pt
    }
.calibre145 {
    height: 277pt;
    width: 153pt
    }
.calibre146 {
    display: block;
    float: left;
    height: 37.5pt;
    width: 451pt
    }
.calibre147 {
    display: block;
    float: left;
    height: 111pt;
    width: 451pt
    }
.calibre148 {
    display: block;
    float: left;
    height: 22.9pt;
    width: 451pt
    }
.calibre149 {
    height: 404pt;
    width: 451pt
    }
.calibre150 {
    height: 206pt;
    width: 219pt
    }
.calibre151 {
    display: block;
    float: left;
    height: 201pt;
    width: 451pt
    }
.calibre152 {
    display: block;
    float: left;
    height: 51.4pt;
    width: 451pt
    }
.calibre153 {
    display: block;
    float: left;
    height: 382pt;
    width: 451pt
    }
.calibre154 {
    display: block;
    float: left;
    height: 172pt;
    width: 451pt
    }
.calibre155 {
    height: 288pt;
    width: 423pt
    }
.calibre156 {
    display: block;
    float: left;
    height: 243pt;
    width: 431pt
    }
.calibre157 {
    display: block;
    float: left;
    height: 362pt;
    width: 451pt
    }
.calibre158 {
    height: 180pt;
    width: 219pt
    }
.calibre159 {
    height: 60.4pt;
    width: 451pt
    }
.calibre160 {
    height: 234pt;
    width: 451pt
    }
.calibre161 {
    height: 248pt;
    width: 269pt
    }
.calibre162 {
    height: 207pt;
    width: 451pt
    }
.calibre163 {
    height: 202pt;
    width: 451pt
    }
.calibre164 {
    display: block;
    float: left;
    height: 171pt;
    width: 451pt
    }
.calibre165 {
    display: block;
    float: left;
    height: 302pt;
    width: 451pt
    }
.calibre166 {
    display: block;
    float: left;
    height: 101pt;
    width: 451pt
    }
.calibre167 {
    display: block;
    float: left;
    height: 40.7pt;
    width: 451pt
    }
.calibre168 {
    height: 206pt;
    width: 451pt
    }
.calibre169 {
    height: 258pt;
    width: 451pt
    }
.calibre170 {
    height: 192pt;
    width: 451pt
    }
.calibre171 {
    height: 96.5pt;
    width: 96.9pt
    }
.calibre172 {
    height: 41pt;
    width: 451pt
    }
.calibre173 {
    display: block;
    float: left;
    height: 264pt;
    width: 451pt
    }
.calibre174 {
    display: block;
    float: left;
    height: 273pt;
    width: 451pt
    }
.calibre175 {
    display: block;
    float: left;
    height: 183pt;
    width: 451pt
    }
.calibre176 {
    display: block;
    float: left;
    height: 80.2pt;
    width: 451pt
    }
.calibre177 {
    height: 400pt;
    width: 451pt
    }
.calibre178 {
    height: 250pt;
    width: 451pt
    }
.calibre179 {
    height: 70.5pt;
    width: 169pt
    }
.calibre180 {
    height: 183pt;
    width: 329pt
    }
.calibre181 {
    height: 153pt;
    width: 164pt
    }
.calibre182 {
    height: 302pt;
    width: 451pt
    }
.calibre183 {
    height: 176pt;
    width: 451pt
    }
.calibre184 {
    display: block;
    float: left;
    height: 516pt;
    width: 451pt
    }
.calibre185 {
    height: 95.7pt;
    width: 135pt
    }
.calibre186 {
    display: block;
    float: left;
    height: 509pt;
    width: 451pt
    }
.calibre187 {
    display: block;
    float: left;
    height: 283pt;
    width: 451pt
    }
.calibre188 {
    display: block;
    float: left;
    height: 162pt;
    width: 451pt
    }
.calibre189 {
    height: 324pt;
    width: 427pt
    }
.calibre190 {
    display: block;
    float: left;
    height: 549pt;
    width: 451pt
    }
.calibre191 {
    display: block;
    float: left;
    height: 313pt;
    width: 451pt
    }
.calibre192 {
    display: block;
    float: left;
    height: 109pt;
    width: 451pt
    }
.calibre193 {
    display: block;
    float: left;
    height: 60.4pt;
    width: 451pt
    }
.calibre194 {
    display: block;
    float: left;
    height: 231pt;
    width: 433pt
    }
.calibre195 {
    display: block;
    float: left;
    height: 446pt;
    width: 451pt
    }
.calibre196 {
    display: block;
    float: left;
    height: 294pt;
    width: 451pt
    }
.calibre197 {
    display: block;
    float: left;
    height: 50.4pt;
    width: 451pt
    }
.calibre198 {
    display: block;
    float: left;
    height: 90.5pt;
    width: 451pt
    }
.calibre199 {
    height: 216pt;
    width: 408pt
    }
.calibre200 {
    display: block;
    float: left;
    height: 241pt;
    width: 451pt
    }
.calibre201 {
    display: block;
    float: left;
    height: 68.2pt;
    width: 451pt
    }
.calibre202 {
    display: block;
    float: left;
    height: 30.5pt;
    width: 451pt
    }
.calibre203 {
    display: block;
    float: left;
    height: 478pt;
    width: 451pt
    }
.calibre204 {
    height: 306pt;
    width: 398pt
    }
.calibre205 {
    display: block;
    float: left;
    height: 80.7pt;
    width: 451pt
    }
.calibre206 {
    display: block;
    float: left;
    height: 60.5pt;
    width: 451pt
    }
.calibre207 {
    display: block;
    float: left;
    height: 51.3pt;
    width: 451pt
    }
.calibre208 {
    display: block;
    float: left;
    height: 262pt;
    width: 451pt
    }
.calibre209 {
    display: block;
    float: left;
    height: 365pt;
    width: 451pt
    }
.calibre210 {
    height: 229pt;
    width: 406pt
    }
.calibre211 {
    display: block;
    float: left;
    height: 232pt;
    width: 451pt
    }
.calibre212 {
    display: block;
    float: left;
    height: 556pt;
    width: 432pt
    }
.calibre213 {
    display: block;
    float: left;
    height: 102pt;
    width: 451pt
    }
.calibre214 {
    display: block;
    float: left;
    height: 291pt;
    width: 451pt
    }
.calibre215 {
    display: block;
    float: left;
    height: 212pt;
    width: 451pt
    }
.calibre216 {
    display: block;
    float: left;
    height: 211pt;
    width: 451pt
    }
.calibre217 {
    height: 272pt;
    width: 451pt
    }
.calibre218 {
    display: block;
    float: left;
    height: 505pt;
    width: 451pt
    }
.calibre219 {
    height: 120pt;
    width: 451pt
    }
.calibre220 {
    height: 384pt;
    width: 451pt
    }
.calibre221 {
    height: 274pt;
    width: 322pt
    }
.calibre222 {
    display: block;
    float: left;
    height: 424pt;
    width: 451pt
    }
.calibre223 {
    display: block;
    float: left;
    height: 79.4pt;
    width: 451pt
    }
.calibre224 {
    display: block;
    float: left;
    height: 91.2pt;
    width: 451pt
    }
.calibre225 {
    display: block;
    float: left;
    height: 132pt;
    width: 451pt
    }
.calibre226 {
    display: block;
    float: left;
    height: 70pt;
    width: 451pt
    }
.calibre227 {
    height: 220pt;
    width: 165pt
    }
.calibre228 {
    display: block;
    float: left;
    height: 457pt;
    width: 451pt
    }
.calibre229 {
    display: block;
    float: left;
    height: 155pt;
    width: 451pt
    }
.calibre230 {
    height: 188pt;
    width: 451pt
    }
.calibre231 {
    display: block;
    float: left;
    height: 603pt;
    width: 451pt
    }
.calibre232 {
    display: block;
    float: left;
    height: 142pt;
    width: 451pt
    }
.calibre233 {
    display: block;
    float: left;
    height: 456pt;
    width: 451pt
    }
.calibre234 {
    height: 208pt;
    width: 451pt
    }
.calibre235 {
    height: 235pt;
    width: 436pt
    }
.calibre236 {
    display: block;
    float: left;
    height: 60.1pt;
    width: 451pt
    }
.calibre237 {
    display: block;
    float: left;
    height: 124pt;
    width: 451pt
    }
.calibre238 {
    display: block;
    float: left;
    height: 404pt;
    width: 451pt
    }
.calibre239 {
    display: block;
    float: left;
    height: 423pt;
    line-height: 1.2;
    width: 438pt
    }
.calibre240 {
    display: block;
    float: left;
    height: 164pt;
    width: 431pt
    }
.calibre241 {
    display: block;
    float: left;
    height: 39.5pt;
    width: 451pt
    }
.calibre242 {
    display: block;
    float: left;
    height: 198pt;
    width: 420pt
    }
.calibre243 {
    display: block;
    float: left;
    height: 285pt;
    width: 451pt
    }
.calibre244 {
    display: block;
    float: left;
    height: 312pt;
    width: 451pt
    }
.calibre245 {
    height: 224pt;
    width: 448pt
    }
.calibre246 {
    height: 224pt;
    width: 451pt
    }
.calibre247 {
    display: block;
    float: left;
    height: 221pt;
    width: 451pt
    }
.calibre248 {
    display: block;
    float: left;
    height: 356pt;
    width: 451pt
    }
.calibre249 {
    display: block;
    float: left;
    height: 263pt;
    width: 451pt
    }
.calibre250 {
    display: block;
    float: left;
    height: 204pt;
    width: 451pt
    }
.calibre251 {
    display: block;
    float: left;
    height: 381pt;
    width: 451pt
    }
.calibre252 {
    display: block;
    float: left;
    height: 334pt;
    width: 451pt
    }
.calibre253 {
    height: 339pt;
    width: 451pt
    }
.calibre254 {
    display: block;
    float: left;
    height: 63.2pt;
    width: 451pt
    }
.calibre255 {
    display: block;
    float: left;
    height: 52pt;
    width: 451pt
    }
.calibre256 {
    display: block;
    float: left;
    height: 50.2pt;
    width: 451pt
    }
.calibre257 {
    display: block;
    float: left;
    height: 91pt;
    width: 451pt
    }
.calibre258 {
    display: block;
    float: left;
    height: 83pt;
    width: 451pt
    }
.calibre259 {
    display: block;
    float: left;
    height: 78.8pt;
    width: 439pt
    }
.calibre260 {
    display: block;
    float: left;
    height: 69.5pt;
    width: 451pt
    }
.calibre261 {
    height: 109pt;
    width: 352pt
    }
.calibre262 {
    height: 122pt;
    width: 451pt
    }
.calibre263 {
    display: block;
    float: left;
    height: 98.5pt;
    width: 426pt
    }
.calibre264 {
    white-space: pre-wrap
    }
.calibre265 {
    display: block;
    float: left;
    height: 399pt;
    width: 447pt
    }
.calibre266 {
    display: block;
    float: left;
    height: 90pt;
    width: 451pt
    }
.calibre267 {
    height: 139pt;
    width: 331pt
    }
.calibre268 {
    display: block;
    float: left;
    height: 82pt;
    width: 451pt
    }
.calibre269 {
    height: 181pt;
    width: 404pt
    }
.calibre270 {
    height: 393pt;
    width: 431pt
    }
.calibre271 {
    display: block;
    float: left;
    height: 145pt;
    width: 451pt
    }
.calibre272 {
    display: block;
    float: left;
    height: 164pt;
    width: 451pt
    }
.calibre273 {
    height: 120pt;
    width: 450pt
    }
.calibre274 {
    height: 192pt;
    width: 412pt
    }
.calibre275 {
    display: block;
    float: left;
    height: 59.3pt;
    width: 451pt
    }
.calibre276 {
    display: block;
    height: 117pt;
    width: 301pt
    }
.calibre277 {
    display: block;
    float: left;
    height: 38.7pt;
    width: 451pt
    }
.calibre278 {
    display: block;
    float: left;
    height: 324pt;
    width: 451pt
    }
.calibre279 {
    display: table;
    margin: 0;
    padding: 0 0 0 96pt
    }
.calibre280 {
    display: block;
    float: left;
    height: 118pt;
    width: 451pt
    }
.calibre281 {
    display: block;
    float: left;
    height: 70.2pt;
    width: 451pt
    }
.calibre282 {
    display: block;
    float: left;
    height: 99.2pt;
    width: 451pt
    }
.calibre283 {
    display: block;
    float: left;
    height: 39.7pt;
    width: 451pt
    }
.calibre284 {
    display: block;
    float: left;
    height: 51pt;
    line-height: 1.2;
    width: 433pt
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_1 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    color: #414141;
    line-height: 1.2
    }
.text_1 {
    color: #0563C1;
    line-height: 1.2;
    text-decoration: underline
    }
.text_2 {
    color: #414141;
    font-weight: bold;
    line-height: 1.2
    }
.text_3 {
    color: #0563C1;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_4 {
    color: #0563C1;
    text-decoration: underline
    }
.text_5 {
    color: #414141
    }
.text_6 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_7 {
    color: #414141;
    font-weight: bold
    }
.text_8 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1em
    }
.text_9 {
    font-family: "Consolas", monospace;
    font-size: 1em
    }
.text_10 {
    color: #414141;
    font-style: italic
    }
.text_11 {
    color: #0563C1;
    font-style: italic;
    text-decoration: none
    }
.text_12 {
    color: #414141;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em
    }
.text_13 {
    color: #414141;
    font-family: "Consolas", monospace;
    font-size: 1em
    }
.text_14 {
    color: #0563C1;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    text-decoration: underline
    }
.text_15 {
    font-family: "Consolas", monospace;
    font-size: 1em;
    line-height: 1.2
    }
.text_16 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    line-height: 1.2
    }
.text_17 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    font-weight: bold
    }
.text_18 {
    text-decoration: underline
    }
.text_19 {
    color: #00C;
    font-family: "Consolas", monospace;
    font-size: 0.75em;
    font-weight: bold
    }
.text_20 {
    color: #414141;
    font-style: italic;
    line-height: 1.2
    }
.text_21 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    font-style: italic
    }
.text_22 {
    font-style: italic;
    font-weight: bold
    }
.text_23 {
    color: #000;
    font-family: "Consolas", monospace;
    font-size: 0.75em
    }
.text_24 {
    color: #414141;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    font-weight: bold
    }
.text_25 {
    color: black;
    font-family: "Consolas", monospace;
    font-size: 1em
    }
.text_26 {
    color: #A31515;
    font-family: "Consolas", monospace;
    font-size: 1em
    }
.text_27 {
    color: #414141;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    font-style: italic
    }
.text_28 {
    color: black;
    font-family: "Consolas", monospace;
    font-size: 0.75em
    }
.text_29 {
    color: #414141;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    line-height: 1.2
    }
.text_30 {
    color: #0563C1;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: underline
    }
.text_31 {
    color: #414141;
    font-family: "Consolas", monospace;
    font-size: 1em;
    line-height: 1.2
    }
